nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .about{
      width: 100%;
      padding:78px 0px ;
      background-color: #191919;
    }
    .about img{
      height: auto;
      width: 420px;
    }
    .about-text{
      width: 550px;
    }
    .main{
      width: 1130px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .about-text h1{
      color: white;
      font-size: 80px;
      text-transform: capitalize;
      margin-bottom:20px;
      }
      .about-text h5{
        color: white;
        font-size: 25px;
        text-transform: capitalize;
        margin-bottom:25px;
        letter-spacing: 2px;
        }
        span{
          color: #f9004d;
        }
        .about-text p{
          color: #fcfc;
          letter-spacing: 1px;
          line-height: 28px;
          font-size: 18px;
          margin-bottom: 45px;
        }